agm-map {
    height: 460px;
}
.window-width {
    width: 200px;
}
.margen-superior {
    margin-top: 15px;
    margin-bottom: 15px;
}
.margen-inferior {
    margin-bottom: 20px;
}
.custom-color {
    color: rgb( 205, 57, 77 );
}

.borde-inferior {
    border-bottom: 1px solid #CCC;
}

.w150 {
    width: 150px;
}
.w350 {
    width: 350px;
}
.w70 {
    width: 70px;
}
.img-50 {
    width: 50px;
}

.ancho-auto {
    width: auto;
}