<div class = "row" >

  <div class="col-md-4">
  
    <h5 class = "" ><i class="fas fa-camera text-blue"></i> Seleccione archivo con foto</h5>
  
    <div appNgDropFiles [archivos] = "archivos" (mouseSobre) = "estaSobreElemento = $event" [ngClass] = "{ 'file-over': estaSobreElemento }" class = "well drop-zone" >
      <h5>Arrastre aquí el archivo con la foto de la víctima</h5>
      <img src="assets/img/drop-images.png">
    </div>
  
  </div>
  
  <div class="col-md-8">

      <h5 class = "" ><i class="fas fa-trash-alt text-blue"></i> Remover archivo de foto</h5>

    <!-- <button (click) = "cargarImagenes()" [disabled] = "archivos.length === 0" class = "btn btn-primary" > Cargar de Firebase </button> -->
    <button (click) = "limpiarArchivos()" class = "btn btn-danger text-white" > Limpiar </button>
    <h1 *ngIf="_datosService.cargando" class = "text-green" > Cargando ... </h1>
    <table class = "table table-bordered" >

      <thead  style = "background-color: #007BFF; color: #fff;" >
      
        <tr>
          <th>Nombre de archivo</th>
          <th>Tamaño</th>
          <th>Progreso</th>
        </tr>

      </thead>

      <tbody>
        <tr *ngFor = "let archivo of archivos" >
          <td [ngClass]="{ 'text-green': archivo.progreso >= 100 }" > 
          {{ archivo.nombreArchivo }} 
        </td>
          <td> {{ archivo.archivo.size / 1024 / 1024 | number: '.2-2' }} MB</td>
          <td>
            <div class="progress">
                <div class="progress-bar" role="progressbar" [ngStyle]=" { 'width': archivo.progreso + '%' } " ></div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-10 mx-auto mt-2">
    <div class="card">
      <div class = "card-header" >
        <h2><i class="far fa-address-card text-blue"></i> Nuevo registro de víctima</h2>
      </div>
      <div class="card-body">
        <form class = "was-validated" novalidate #f = "ngForm" (ngSubmit) = "onGuardarRegistro( f )" >
          <div class="row">
            <div class = "form-group col-md-6" >
                <label for="nombre" class = "text-primary" ><strong>Nombre</strong></label>
                <input type="text" class = "form-control" 
                  id = "nombre" name = "nombre" 
                  placeholder="Nombre de la víctima"
                  [(ngModel)] = "persona.nombre"
                  required
                >
                <!-- <small class = "is-invalid" >algo pasa ...</small> -->
                  <div class="invalid-tooltip">
                      Este campo es requerido y solo admite letras
                  </div>
                
          </div>
              <div class = "form-group col-md-6" >
                <label for="alias" class = "text-primary" ><strong>Conocido como</strong> </label>
                <input type="text" class = "form-control" 
                  id = "alias" name = "alias" 
                  placeholder="alias de la víctima"
                  [(ngModel)] = "persona.alias"
                >
              </div>
          </div>
          <div class="row">
            <div class = "form-group col-md-6" >
                <label for="edad" class = "text-primary" ><strong>Edad</strong></label>
                <input type="text" class = "form-control" 
                  id = "edad" name = "edad" 
                  placeholder="edad de la víctima"
                  [(ngModel)] = "persona.edad"
                  required
                  pattern="[0-9]+"
                >
                <div class="invalid-tooltip">
                    Este campo es requerido y solo admite números
                </div>
                
              </div>
              <div class="form-group col-md-6">
                <label for = "fecha" class = "text-primary" ><strong>Fecha del acontecimiento</strong></label>
                <input type="date" class="form-control"
                id="fecha"  name="fecha"
                [(ngModel)] = "persona.fecha"
                required
                >
                <div class="invalid-tooltip">
                    Debe respetar el formato día/mes/año
                </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="sexo" class = "text-primary" > <strong>Sexo</strong> </label>
              <select 
                id = "sexo" name = "sexo" 
                class = "form-control" 
                [(ngModel)] = "persona.sexo"
                required
                >
                <option value="">Seleccione sexo</option>
                <option *ngFor = "let sexo of sexos" [value] = "sexo" > 
                  {{ sexo }}
                </option>            
              </select>
              <div class="invalid-tooltip">Debe seleccionar un elemento de la lista</div>
            </div>  
            <div class="form-group col-md-6">
              <label for="ocupacion" class = "text-primary" ><strong>Ocupación</strong></label>
              <select 
                id = "ocupacion" name = "ocupacion" 
                class = "form-control" 
                [(ngModel)] = "persona.ocupacion"
                required
                >
                <option value="">Seleccione ocupación</option>
                <option *ngFor = "let ocupacion of ocupaciones" [value] = "ocupacion" > 
                  {{ ocupacion }}
                </option>            
              </select>
              <div class="invalid-tooltip">Debe seleccionar un elemento de la lista</div>
            </div>
          </div>
          <div class="row">
            <div class = "form-group col-md-6" >
              <label for="categoria" class = "text-primary" ><strong>Categoría de víctima</strong></label>
              <select 
                id = "categoria" name = "categoria" 
                class = "form-control" 
                [(ngModel)] = "persona.categoria"
                required
                >
                <option value="">Seleccione categoría</option>
                <option *ngFor = "let categoria of categorias" [value] = "categoria" > 
                  {{ categoria }}
                </option>            
              </select>
              <div class="invalid-tooltip">Debe seleccionar un elemento de la lista</div>
            </div>
            <div class="form-group col-md-6">
              <label for = "municipio" class = "text-primary"  ><strong>Ciudad</strong></label>
              <select 
                id = "ciudad" name = "ciudad" 
                class="form-control" required 
                [(ngModel)] = "persona.ciudad"
                required
                >
                <option value="">Seleccione ciudad</option>
                <option *ngFor="let municipio of municipios" [value] = "municipio" > 
                  {{ municipio }}
                </option>
              </select>
              <div class="invalid-tooltip">Debe seleccionar un elemento de la lista</div>
              </div>
    
          </div>
          <div class = "form-group" >
            <label for="biografia" class = "text-primary" ><strong>Biografía</strong></label>
            <textarea type="text" class = "form-control" 
            id = "biografia" name = "biografia" 
            [(ngModel)] = "persona.biografia"
            >
            </textarea>
          </div>

          <input type="submit" value="Guardar" [disabled] = "f.invalid" class = "btn btn-outline-primary btn-block" >

        </form>
      </div>
    </div>
  </div>
  
</div>